<!DOCTYPE html>
<html>
<head>
	<title>My poll</title>
	<script src="/public/third-party/jquery/jquery-1.12.4.min.js"></script>
	<script src="/public/js/mypoll.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/mypoll.css">
	<script src="/public/third-party/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/third-party/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Voting app - My poll</a>
			</div>
			<ul class="nav navbar-nav navbar-right" style="margin: auto">
				<li id="mypoll"><a href="/mypoll">My poll</a>
				<li id="makevote"><a href="/makevote">Make vote</a></li>
				<li><span class="navbar-text" id="user"></span></li>
				<li><button class="btn btn-primary navbar-btn" id="loginout">Login</button></li>
			</ul>
		</div>
	</nav>
	<div id="voting">
	</div>
	</div>
</body>
</html>